/* # RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nerko-one-regular {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

.montserrat-uniquifier {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* # UTILS */

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 1000px;
  max-width: 100%;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
  justify-content: space-around;
}

.d-block {
  display: block;
}

.d-inline {
  display: inline;
}

section {
  background-color: rgb(214, 205, 205);
}

/* # HEADER */

.header-title {
  text-align: center;
  color: rgba(245, 173, 40, 0.849);
  background-color: white;
  margin: 15px 0;
  font-size: 20px;
}

/* # MAIN */

/* # ANTEPRIMA E INFO PREPARAZIONE */

.dessert-type {
  margin-left: 20px;
}

.section-title {
  color: gray;
}

.main-title {
  color: rgb(60, 11, 105);
  margin: 15px 0;
}

.dessert-video {
  max-width: 450px;
}

.info-preparation {
  background-color: white;
  padding-top: 20px;
  margin-right: 29px;
  padding-left: 20px;
  padding-bottom: 30px;
}

.main-info-title {
  margin-bottom: 20px;
}

.main-info {
  margin-bottom: 10px;
}

#difficulty {
}

#time {
}

#quantity {
}

#cost {
}

#notes {
}

.social-button {
  margin: 30px;
}

.background-button {
  background-color: white;
  padding: 10px;
  border-radius: 30px;
}

#color-facebook {
  color: blue;
}

#color-twitter {
  color: rgb(15, 212, 226);
}

#color-instagram {
  color: rgb(175, 16, 175);
}

#color-pinterest {
  color: red;
}

#color-youtube {
  color: red;
}

/* # PREPARAZIONE */

.description-title {
  margin-bottom: 15px;
}

.row {
  color: rgba(245, 173, 40, 0.849);
  max-width: 60px;
}

.dessert-image {
  max-width: 300px;
  margin: 15px 0;
}

.description {
  padding-bottom: 25px;
}

/* # FOOTER */

/* # INFO E LINK */

.end-page {
  background-color: rgb(111, 55, 184);
  min-height: 120px;
  text-align: center;
  padding-top: 20px;
}
.info {
  margin-bottom: 10px;
  color: white;
}

/* # MODALITà TABLET */

@media screen and (min-width: 768px) {
  /* # HEADER */

  /* # TITOLO */

  .header-title {
    color: rgba(245, 173, 40, 0.849);
    background-color: white;
    margin: 15px 0;
    font-size: 20px;
    text-align: left;
    padding-left: 20px;
  }

  /* # ANTEPRIMA E INFO PREPARAZIONE */

  .main-title {
    color: rgb(60, 11, 105);
    margin: 15px 0;
  }
  .d-none {
    display: inline;
  }

  .dessert-video {
    max-width: 719px;
  }

  .info-preparation {
    background-color: white;
    padding-top: 20px;
    margin-right: 29px;
    padding-left: 20px;
    padding-bottom: 80px;
    position: relative;
  }

  .main-info-title {
    margin-bottom: 20px;
  }

  .main-info {
    margin-bottom: 10px;
  }

  #difficulty {
    position: absolute;
    left: 20px;
    top: 60px;
  }

  #time {
    position: absolute;
    left: 290px;
    top: 60px;
  }

  #quantity {
    position: absolute;
    right: 80px;
    top: 60px;
  }

  #cost {
    position: absolute;
    left: 20px;
    top: 100px;
  }

  #notes {
    position: absolute;
    left: 290px;
    top: 100px;
  }

  .background-button {
    background-color: white;
    padding: 10px 50px;
    border-radius: 30px;
  }

  .banner {
    max-width: 719px;
    margin-bottom: 30px;
  }

  /* # PREPARAZIONE */

  .image-container {
    display: inline;
  }

  .description {
    margin: 0 10px;
  }
}

/* # MODALITà DESKTOP */

@media screen and (min-width: 992px) {
  /* # HEADER */

  /* # TITOLO */

  .container {
    margin: 0 auto;
    padding: 0 10px;
    width: 1000px;
    max-width: 100%;
  }

  main {
    background-color: rgb(214, 205, 205);
  }

  .info-preparation {
    background-color: white;
    padding-top: 20px;
    margin-right: 29px;
    padding-left: 20px;
    padding-bottom: 30px;
  }

  #difficulty {
    display: block;
  }

  #time {
    display: block;
  }

  #quantity {
    display: block;
  }

  #cost {
    display: block;
  }

  #notes {
    display: block;
  }
}
